@font-face {
    font-family: 'lobster';
    src: url(fonts/Lobster/Lobster-Regular.ttf);
  }


body{
    
    width: 100%;
    height: 100% !important;
    background-image: url("./images/background.jpg"); 

}

h1{
    font-family: 'lobster';
    text-align: center;
    font-size: 100px;
    color: white;
 }


.nav-item{
    background-color: white;
    width:25%;
    color: black;
    text-align: center;

    font-size: 28px;
    font-family: 'lobster';
    
}
.nav-item:hover{
    background-color: #dfdfdf;
}

.hov-scale{
    transition: transform ease-in 0.1s;
}
.hov-scale:hover{
    transform: scale(1.25);
}



a.nav-link{
    color: gray !important;
}

a.active{
    background-color:  #58a0d6 !important;
    color: white !important;
}








#formulario{
    margin-top: 50px;
}

form label{
    text-align: right;
    font-size: 22px;
}




table td{
    cursor:pointer;
}

table tbody button{
    font-family: 'lobster';
    font-size: 10px;
    box-shadow: 0px 0px 2px 2px gray;
}

div.table-responsive{
    max-height:550px !important;
    overflow-y: auto !important;
}
/*
table, tr, td {
    border: 1px solid black;
  }


table{
    text-align: center;
   
 }
 
 #fomrAceptar{

  text-align: center;
 }


 #formAceptar, #aceptar1:hover{

    background-color: #dfdfdf;
    color: #58a0d6;
    
  }
 
 #formAceptar, #aceptar1{

    background-color: #58a0d6;
    font-size: 20px;
    color: white;
    width: 100px;
    height: 50px;
  }
 
 */